@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.main__container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100%;
    display: flex;
  }
  
.h1-18-400{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 400;
  font-size: 18px;
}
.h1-13-400{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 400;
  font-size: 13px;
}
.h1-30-400{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 400;
  font-size: 30px;
}
.h1-16-400{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 400;
  font-size: 16px;
}
.h1-11-400{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 400;
  font-size: 11px;
}
.h1-35-400{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 400;
  font-size: 35px;
}
.h1-24-400{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 400;
  font-size: 24px;
}
.h1-22-400{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 400;
  font-size: 22px;
}
.h1-20-400{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 400;
  font-size: 20px;
}